{% extends 'base.html.twig' %}

{% block title %}Accueil - CRUDcroustillant{% endblock %}

{% block content %}
    <h2>Bienvenue sur CRUDcroustillant !</h2>
    <p>Découvrez nos délicieux burgers inspirés de Bob l'Éponge.</p>
    <img src="{{ asset('assets/images/burger.jpg') }}" alt="Burger délicieux" style="max-width: 300px;">
{% endblock %}